	</div>
</div>
<div class="ui center aligned grid">
	<div class="eight wide column">
		<h2 class="ui header">Contact LeadsMachine</h2>
		<%= render 'letstalk' %>
		<h3>Or Call Miracula, our parent company... (905) 525-8888</h3>
	</div>
</div>
