<div class="ui stackable grid">
	<div class="twelve wide column">
		<h1>One Hour to Better Online Marketing</h1>
		<p>Do you ever wonder if you're doing the right things to market your business on the internet? Do you need some quick tips to immediately impact the effectiveness of your marketing? Let LeadsMachine help with a free, no-obligation marketing consultation.</p>

		<p>We'll look at everything from your website and directory listings to your social media presence and more to give you easy tips for improving and growing your marketing efforts. </p>

		<p>In an hour or less, you'll gain valueable insights, and will be well on your way to generating more business from your marketing budget. </p>
		<div class="ui two column stackable grid">
			<div class="column">
				<h2>Why are we doing this?</h2>
				<p><b>First</b>, we enjoy it. Helping Canadian businesses succeed online is our passion. It makes us very happy to see others get massive success from what we teach them.</p>

				<p><b>Second</b>, it’s how we attract clients.</p>

				<p>You see, at the end of our conversation, once we’ve shown you a rock solid plan to start generating more business from the Internet; 1 of 2 things will happen:

				<ul>
					<li>You’ll love the plan and go away to implement it yourself. And in this case you’ll keep in touch to let us know how you’re going, or </li>
					<li>You’ll love the plan and ask to become a client you that we can help you execute, maximise and profit from it ASAP.</li>
				</ul>
				</p>

			</div>
			<div class="column">
				<h2>Are There Any Catches?</h2>
				<p>There are two:

				<ul>
					<li>Your business must already be established. We don’t work with start-ups.</li>
					<li>You must have decision making power. Let's not waste each others' time.</li>
				</ul>
				</p>


				<h2>What's the Next Step?</h2>
				<p>Start generating more customers and gain more visibility for your business…FREE.  Look to the right. Fill out the form. Make some positive changes! 
				<i class="long arrow right icon"></i> 
				<i class="long arrow right icon"></i> 
				<i class="long arrow right icon"></i> 
				</p>

			</div>			
		</div>
	</div>
	<div class="four wide column">
	<h1>Let's Talk</h1>
	<%= image_tag 'tuut.jpg', class: 'ui fluid image' %><br>

	<%= render 'letstalk' %>
	</div>
</div>

