<div class="ui page grid">
	<div class="sixteen wide column">
		<h1>Refunds and Cancellations Policy</h1>
		<p>Thank you for purchasing a LeadsMachine subscription.</p>

		<p><strong>Refunds on Subscriptions</strong></p>

		<p>We issue refunds for LeadsMachine Subscriptions within 60 days of commencement of service. Beyond 60 days, you may cancel the service by giving 30 days written notice. Upon receipt of your notice, we will cancel your billing effective the last day of the following month - we do not pro-rate monthly services.  </p>

		<p>We recommend contacting us for assistance if you experience any issues with LeadsMachine, as you will stop receiving leads via our service on the same last day of the following month - they will be redirected to another company at our discretion.</p>

		<p><strong>Contact us</strong>
		<p>If you have any questions about our Refunds and Cancellations Policy, please contact us:</p>

		<ul>
		    <li>By phone: (905) 525-8888</li>		    
		</ul>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>

<%= render 'footer' %>