<div class="ui container">
<p>&nbsp;</p>
<h1 class="ui dividing header">
  <%= @title %>
  <div class="sub header">Machine ID: <%= @machine.lmid %>
  </div>
</h1>

<center>
	<div class="ui  positive message">
		<h1>Subscribe!</h1>
	</div>
	
	<div class="ui divider"></div>
	<%= render 'form' %>
</center>